html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}
body {
	font-family: sans-serif;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;
}
nav a {
	display: inline-block;
	padding: 1.5rem 1rem;
	color: rgb(76, 75, 76);
	text-decoration: none;
	font-size: 2rem;
	text-transform: capitalize;
	transition: background-color .2s ease-in, color .2s ease-in;
}
nav a:hover,
.active {
	background-color: rgb(206, 32, 32);
	color: white;
}
nav .red {
	color: rgb(206, 32, 32);
}
nav .green {
	color: rgb(140, 199, 39);
}
nav .logo {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: bold;
}
