html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	font-size: 2rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}
body {
	min-height: 100vh;
	font-family: sans-serif;
	background-color: rgb(224, 224, 224);
	background-image: url('../images/double-bubble-outline.png');
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6rem;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 7px 20px 5px rgb(0 0 0 / 19%);
}
nav a {
	display: inline-block;
	padding: 1.5rem 1rem;
	color: rgb(76, 75, 76);
	text-decoration: none;
	font-size: 2rem;
	text-transform: capitalize;
	transition: background-color .2s ease-in, color .2s ease-in;
}
nav a:hover,
.active,
nav a:focus {
	background-color: rgb(206, 32, 32);
	color: rgb(255, 255, 255);
}
.active {
	cursor: default;
}
nav .red {
	color: rgb(206, 32, 32);
}
nav .green {
	color: rgb(140, 199, 39);
}
nav .logo {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: bold;
}
main {
	padding: 3rem 6rem;
	display: flex;
}
.mealCard,
.textCard {
	flex-basis: 500px;
}
.mealCard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: flex-end;
	transition: box-shadow .2s ease-in, transform .2s ease-in, opacity .2s ease-in;
	cursor: pointer;
	opacity: .85;
}
.mealCard:hover {
	box-shadow: 0px 7px 10px 5px rgb(0 0 0 / 19%);
	transform: translateY(-.5rem);
	opacity: 1;
}
.mealCard:not(:last-child) {
	margin-right: 1rem;
}
h1 {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.textCard {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding-right: 4rem;
	padding-bottom: 2rem;
}
.textCard p {
	font-size: 1.7rem;
	margin-bottom: 2rem;
}
.textCard a {
	color: black;
	text-transform: uppercase;
	letter-spacing: -.2rem;
	transition: letter-spacing .2s ease-in, color .2s ease-in;
}
.textCard a:hover,
.textCard a:focus {
	letter-spacing: .2rem;
}
.topTag,
.bottomTag {
	font-size: 1.5rem;
	text-transform: uppercase;
}
.topTag {
	background-color: rgb(255, 255, 255);
	padding: .5em 1em;
	transform: skew(-10deg);
	position: relative;
	right: .3rem;
}
.bottomTag {
	background-color: rgb(140, 199, 39);
	padding: .5em;
	width: 50%;
	text-align: right;
	transform: skew(10deg);
	position: relative;
	right: .3rem;
}
.textCard a:hover .browse,
.textCard a:focus .browse {
	color: rgb(206, 32, 32);
}
.textCard a:hover .menu,
.textCard a:focus .menu {
	color: rgb(140, 199, 39);
}
:focus {
	outline: none;
}
footer {
	width: 100%;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}
footer span {
	display: inline-block;
	padding: 2rem 0;
}
